/* content will come on one page only*/
:host{
    display: flex;
    flex-direction: column;
    height : 100%;
}

app-header{
    position: fixed;
    height: auto;
    width: 100%;
    z-index: 100
}

mat-drawer-container{
    height : 100%;
    margin-top: 60px; 
    mat-drawer{
        width : 350px;
    }
    mat-drawer-content{
        padding: 20px;
    }
}

